 <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">
          <p>UniversityWatch</p>
        </a>
      </div>
    </div>
  </nav>

  <div class="banner-panel row">
    <div class="col-sm-12">
      <p class="large-text">UniversityWatch blah blah blah blah</p>
      <p>blah blah blah blah blah</p>
      <div class="text row">
        <div class="col-xs-4 col-sm-2">
        </div>
        <div class="col-xs-4 col-sm-2">
          <p><span class="large-text">100+</span> <br>
            murders</p>
        </div>
        <div class="col-xs-4 col-sm-2">
          <p><span class="large-text">16,000</span><br>
            assaults</p>
        </div>
        <div class="col-xs-4 col-sm-2">
          <p><span class="large-text">9 </span><br>
            sexual assaults per day</p>
        </div>
        <div class="col-xs-4 col-sm-2">
          <p><span class="large-text">1 in 5 </span><br>
            women assaulted during college</p>
        </div>
        <div class="col-xs-4 col-sm-2">
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <img src="https://s3.amazonaws.com/static.bitly.com/graphics/blog/2013/10/map+no+legend.png" width="800px">

  </div>

  <div class="crime-categories row">

  <div class="col-md-8 col-md-offset-2">

    <div class="row">
      <div class="col-md-4">
        <%= image_tag "icon-murder.png" %>
        <p><strong>Murder</strong></p>
        <p>The willful (non-negligent) killing of one human being by another.</p>
      </div>
      <div class="col-md-4">
        <%= image_tag "icon-manslaughter.png" %>
        <p><strong>Manslaughter</strong></p>
        <p>The killing of another person through gross negligence.</p>
      </div>
      <div class="col-md-4">
        <%= image_tag "icon-sexual-assault-f.png" %>
        <p><strong>Sexual Assault - Forcible</strong></p>
        <p>Any sexual act directed against another person, forcibly and/or against that person's will; or not forcibly or against the person's will where the victim is incapable of giving consent.</p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <%= image_tag "icon-sexual-assault-nonforcible.png" %>
        <p><strong>Sexual Assault - Nonforcible</strong></p>
        <p>Unlawful, non-forcible sexual intercourse.</p>
      </div>
      <div class="col-md-4">
        <%= image_tag "icon-robbery.png" %>
        <p><strong>Robbery</strong></p>
        <p>The taking or attempting to take anything of value from the care, custody, or control of a person or persons by force or threat of force or violence and/or by putting the victim in fear.</p>
      </div>
      <div class="col-md-4">
        <%= image_tag "icon-aggravated-assault.png" %>
        <p><strong>Aggravated Assault</strong></p>
        <p>An unlawful attack by one person upon another for the purpose of inflicting severe or aggravated bodily injury. This type of assault usually is accompanied by the use of a weapon or by means likely to produce death or great bodily harm.</p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <%= image_tag "icon-burglary.png" %>
        <p><strong>Burglary</strong></p>
        <p>The unlawful entry of a structure to commit a felony or a theft.</p>
      </div>
      <div class="col-md-4">
        <%= image_tag "icon-motor-vehicle-theft.png" %>
        <p><strong>Motor Vehicle Theft</strong></p>
        <p>The theft or attempted theft of a motor vehicle.</p>
      </div>
      <div class="col-md-4">
        <%= image_tag "icon-arson.png" %>
        <p><strong>Arson</strong></p>
        <p>Any willful or malicious burning or attempt to burn, with or without intent to defraud, a dwelling house, public building, motor vehicle or aircraft, personal property of another, etc.</p>
      </div>
    </div>
</div>