<div class="container-fluid">
  <div class="row">
    <nav class="navbar navbar-default">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">UniversityWatch</a>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><a href="#">Search by State <span class="sr-only">(current)</span></a></li>
          <li><a href="#">Data</a></li>
          <li><a href="#">About Us</a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
      </nav>
    </div>
</div><!-- /.container-fluid -->

<div class="container-fluid">
<!--   <div class="banner-panel row"> -->
  <div class="row">
    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
      <div class="description pull-left">
        UniversityWatch blah blah blah blah
      </div>
    </div>
  </div>

  <div class="ticking row">
    <div class="col-md-3 murder-odo">0</div>
    <div class="col-md-3 assaults-odo">0</div>
    <div class="col-md-3 sexual-odo">0</div>
    <div class="col-md-3 women-assault-odo">0</div>
  </div>

  <div class="row">
    <%= form_for "school", url: search_schools_path, :html => {class: 'form-wrapper'}, action: "search_school" do |f| %>
      <%= f.text_field :name, class: 'search-bar' %>
      <%= f.submit "Search", :class => 'submit_btn' %>
    <% end %>
  </div>

</div>

<div class="container-fluid">
  <img src="https://s3.amazonaws.com/static.bitly.com/graphics/blog/2013/10/map+no+legend.png" width="800px">
</div>

  <div class="crime-categories row">

  <div class="col-md-8 col-md-offset-2">

    <div class="row">
      <div class="col-md-4">
        <div class="row">
          <div class="col-md-4"></div>
          <div class="col-md-4"> <%= image_tag "icon-murder.png" %></div>
          <div class="col-md-4"></div>
        </div>
        <p class="category-title">Murder</p>
        <p>The willful (non-negligent) killing of one human being by another.</p>
      </div>
      <div class="col-md-4">
        <div class="row">
          <div class="col-md-4"></div>
          <div class="col-md-4"><%= image_tag "icon-manslaughter.png" %></div>
          <div class="col-md-4"></div>
        </div>
        <p class="category-title">Manslaughter</p>
        <p>The killing of another person through gross negligence.</p>
      </div>
      <div class="col-md-4">
        <div class="row">
          <div class="col-md-4"></div>
          <div class="col-md-4"> <%= image_tag "icon-sexual-assault-f.png" %></div>
          <div class="col-md-4"></div>
        </div>

        <p class="category-title">Sexual Assault - Forcible</p>
        <p>Any sexual act directed against another person, forcibly and/or against that person's will; or not forcibly or against the person's will where the victim is incapable of giving consent.</p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <div class="row">
          <div class="col-md-4"></div>
          <div class="col-md-4"><%= image_tag "icon-sexual-assault-nonforcible.png" %></div>
          <div class="col-md-4"></div>
        </div>

        <p class="category-title">Sexual Assault - Nonforcible</p>
        <p>Unlawful, non-forcible sexual intercourse.</p>
      </div>
      <div class="col-md-4">
        <div class="row">
          <div class="col-md-4"></div>
          <div class="col-md-4"><%= image_tag "icon-robbery.png" %></div>
          <div class="col-md-4"></div>
        </div>

        <p class="category-title">Robbery</p>
        <p>The taking or attempting to take anything of value from the care, custody, or control of a person or persons by force or threat of force or violence and/or by putting the victim in fear.</p>
      </div>
      <div class="col-md-4">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4"><%= image_tag "icon-aggravated-assault.png" %></div>
            <div class="col-md-4"></div>
        </div>

        <p class="category-title">Aggravated Assault</p>
        <p>An unlawful attack by one person upon another for the purpose of inflicting severe or aggravated bodily injury. This type of assault usually is accompanied by the use of a weapon or by means likely to produce death or great bodily harm.</p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4"><%= image_tag "icon-burglary.png" %></div>
            <div class="col-md-4"></div>
        </div>

        <p class="category-title">Burglary</p>
        <p>The unlawful entry of a structure to commit a felony or a theft.</p>
      </div>
      <div class="col-md-4">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4"><%= image_tag "icon-motor-vehicle-theft.png" %></div>
            <div class="col-md-4"></div>
        </div>

        <p class="category-title">Motor Vehicle Theft</p>
        <p>The theft or attempted theft of a motor vehicle.</p>
      </div>
      <div class="col-md-4">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4"><%= image_tag "icon-arson.png" %></div>
            <div class="col-md-4"></div>
        </div>

        <p class="category-title">Arson</p>
        <p>Any willful or malicious burning or attempt to burn, with or without intent to defraud, a dwelling house, public building, motor vehicle or aircraft, personal property of another, etc.</p>
      </div>
    </div>
</div>