<h1>I'm the manslaughter temp</h1>

<div id="chart">
  <p>I'm in the chart div</p>
 </div>
<script>
  var chart = c3.generate({
      bindto: '#chart',
      data: {
        columns: [
          ['2013', <%= @top_manslaughter_stats %>]
        ],
        types: {
                2013: 'bar'
              },
        colors: {
                    2011: '#003058',
                    2012: '#00DDD8',
                    2013: '#517398'
                }
      },
      axis: {
              x: {
                  type: 'category',
                  categories:
                  ['<%= @top_manslaughter_schools[0] %>',
                   '<%= @top_manslaughter_schools[1] %>',
                   '<%= @top_manslaughter_schools[2] %>',
                   '<%= @top_manslaughter_schools[3] %>',
                   '<%= @top_manslaughter_schools[4] %>',
                   '<%= @top_manslaughter_schools[5] %>',
                   '<%= @top_manslaughter_schools[6] %>',
                   '<%= @top_manslaughter_schools[7] %>',
                   '<%= @top_manslaughter_schools[8] %>',
                   '<%= @top_manslaughter_schools[9] %>',]}
            },
  });

</script>
