<div class="container-fluid index-banner">
  <div class="col-md-3 left-col-logo">
    <%= image_tag("universitycrimewatchlogo.png", :alt => "university crime watch logo", :class => "logo") %>
  </div>

  <div class="col-md-9 banner-right-content">
    <div class="banner-container">
      <div class="row">
        <h1 class="headline-white">University Crime Watch blah blah blah...</h1>
        <p class="banner-small-caption">Yr next level Banksy, farm-to-table readymade kitsch whatever organic synth Shoreditch fap Williamsburg bespoke migas Intelligentsia. Lumbersexual fashion axe dreamcatcher Blue Bottle ethical, scenester butcher vinyl single-origin coffee. Butcher flannel fingerstache, mustache asymmetrical meggings distillery raw denim pork belly DIY hashtag health goth small batch. </p>
      </div>
      <div class="row">
        <div class="col-md-3 banner-stats">
          <h1 class="auto-odo">2860</h1>
          <p class="stats-small-caption">auto vehicle thefts</p>
        </div>
        <div class="col-md-3 banner-stats">
          <h1 class="assaults-odo">1673</h1>
          <p class="stats-small-caption">aggravated assaults</p>
        </div>
        <div class="col-md-3 banner-stats">
          <h1 class="forcible-odo">4821</h1>
          <p class="stats-small-caption">forcible sex offenses</p>
        </div>
        <div class="col-md-3 banner-stats">
          <h1 class="robbery-odo">1342</h1>
          <p class="stats-small-caption">robberies</p>
        </div>
      </div>
      <div class="row banner-index-search">
        <div class="search-bar col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1 col-s-12 col-xs-12">
          <%= form_for "school", url: search_schools_path, :html => {class: 'cont'}, action: "search_school" do |f| %>
          <div class="search-row">
            <%= f.text_field :name, class: 'search-bar srchFld' %>
            <span class="entypo-search ico" style="margin-left:-50px;"></span>
            <%= f.submit "Search", :class => 'srchBtn' %>
          </div>
          <% end %>
          <% if flash[:errors] %>
          <p class="error-message"><%= flash[:errors] %></p>
          <% end %>
        </div>
      </div>
    </div>
  </div>

</div>

