<div class="container-fluid">
  <div class="row">
    <div class="banner about-banner">
      <div class="sub-container">
        <h1>about the project</h1>
      </div>
      <%= image_tag("backgroundgraph.png", :alt => "background graph", :class => "aboutgraph") %>
      </div>
    </div>
  </div>

<div class="main-container">
  <div class="container-fluid about-content">
    <div class="row">
      <div class="col-md-6 col-md-offset-6 white-text">
        <i class="fa fa-users fa-2x"></i>
          <span class="title-header">team members</span>
          <h3>Afton Hencky</h3>
          <h3>Jessie Wu</h3>
          <h3>Lukas Jones</h3>
          <h3>Yumiko Huang</h3>
          <h3>Nichole Shelton <em>team lead</em></h3>
        </div>
      </div>
    </div>

  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 tech">
        <i class="fa fa-cogs fa-spin fa-2x"></i>
        <span class="title-header">technology</span>
        <ul class="large-bullets">
          <li>Ruby on Rails - Backend</li>
          <li>Bootstrap - Responsive grid layout</li>
          <li>C3.js - Data visualization</li>
          <li>Jquery UI - Auto-Complete</li>
          <li>Datamaps.js - Sorting by state</li>
          <li>GoogleMaps API - Heat map of school crimes</li>
        </ul>
      </div>
      <div class="col-md-6 tech-used-image">
        <%= image_tag("technologiesused.png", :alt => "tech used image") %>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        <%= image_tag("successbkgd.png", :alt => "successes image", :class => "success-img") %>
      </div>
      <div class="col-md-6 success-section">
        <i class="fa fa-smile-o fa-2x"></i>
        <span class="title-header">Successes</span>
        <div class="large-bullets">
          <p>Working with a large dataset </p>
          <p>Graphing the data</p>
          <p>School Comparison</p>
          <p>Implementing search with autocomplete</p>
          <p>Searching by state</p>
          <p>Fun team dynamic - pair programming</p>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6 hurdles-section">
          <%= image_tag("programmer-problems.jpg", :alt => "hurdles image", :class => "hurdles-img") %>
        </div>
        <div class="col-md-6 color-block white-text">
          <i class="fa fa-wrench fa-2x"></i>
          <span class="title-header">hurtles</span>
          <div class="large-bullets">
            <p>no</p>
            <p>no</p>
            <p>no</p>
            <p>no</p>
            <p>no</p>
          </div>
        </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row stretch-section">
      <i class="fa fa-rocket fa-2x"></i>
      <span class="title-header">stretch goals</span>
      <div class="large-bullets">
        <p>Heatmaps for all crimes</p>
        <p>Filtering state search by type of school</p>
        <p>Optimizing speed</p>
        <p>Functioning search form in the navigation bar</p>
      </div>
    </div>
  </div>

<div class="container-fluid">
  <div class="row team-section">
    <div class="col-md-6 ">
      <%= image_tag("teampic.jpg", :class =>"team-photo") %>
    </div>
    <div class="col-md-6">
      <i class="fa fa-connectdevelop fa-2x"></i>
      <span class="title-header">group dynamics</span>
      <div class="large-bullets">
        <p>cool</p>
        <p>cool</p>
        <p>cool</p>
        <p>cool</p>
        <p>cool</p>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid end-presentation">
  <div class="row large-header">
    <h3>thanks for watching</h3>
    <h1> any questions?</h1>
  </div>
</div>
</div>
