
<div class="container">

  <div class="banner-panel row">
    <div class="col-lg-2 col-md-2 col-s-12 col-xs-12  circle acronym-section">
      <div class="rotating-circle">
      <h3><%= @school.acronym %></h3>
      </div>
    </div>
    <div class="col-lg-6 col-md-6 col-xs-12 col-s-12">
      <h2 class="section-header-spacing"><%= @school.name %></h2>
      <div class="col-lg-6 col-md-6">
        <p class="profile-title">Location</p>
        <p class="profile-detail"><%= @school.city %>, <%= @school.state %></p>
        <br>
        <p class="profile-title">School Population</p>
        <p class="profile-detail"><%= @school.population %></p>
      </div>
      <div class="col-lg-6 col-md-6">
        <p class="profile-title">Type</p>
        <p class="profile-detail"><%= @school.school_type %></p><br>

        <p class="profile-title">Tweet This Page</p>
        <p>
          <a href="https://twitter.com/share" class="twitter-share-button" data-count="none">
            Tweet
          </a>
        </p>
      </div>
    </div>


    <div class="col-lg-4 col-md-4 col-s-12 col-xs-12 crime-badges">
      <div class="row">
        <h3 class="section-header-spacing">Total Crimes per Year</h3>
      </div>
      <div class="row">
        <div class="col-md-6 col-md-offset-3 badge-13"><span class="crime-total-number"><%= get_status(@school, 2013) %></span></div>
      </div>
      <div class="row">
        <div class="col-md-3 col-md-offset-3 badge-11"><span class="crime-total-number"><%= get_status(@school, 2011)%></span></div>
        <div class="col-md-3 badge-12"><span class="crime-total-number">
        <%= get_status(@school, 2012) %></span></div>
      </div>
    </div>

  </div> <!-- End Row Div -->

  <div class="row stacked-bar-chart">
    <div class="col-lg-12 col-md-12">
      <h1>STACKED BAR CHART</h1>
      <div id="chart"></div>
    </div>
  </div>

  <div class="row col-lg-12"><h1>SCHOOL DATA FOR 2011-2013</h1></div>
  <div class="row table-data">
    <div class="col-lg-4 col-md-4">

      <% @crimes.where(year: 2011).each do |crime| %>
        <table class="profile_page_table table table-striped table-responsive">
          <h3 class="text-left">2011</h3>
          <thead>
          <tr class="header-2011">
            <th class="text-left">Crime</th>
            <th class="text-left">Total</th>
          </tr>
          </thead>
          <tbody class="table-hover">
            <tr>
              <td class="text-left">Murder</td>
              <td class="text-left"><%= crime.murder %></td>
            </tr>
            <tr>
              <td class="text-left">Manslaughter</td>
              <td class="text-left"><%= crime.manslaughter %></td>
            </tr>
            <tr>
              <td class="text-left">Sex Offense - Forcible</td>
              <td class="text-left"><%= crime.f_sex %></td>
            </tr>
            <tr>
              <td class="text-left">Sex Offense - Non-forcible</th>
              <td class="text-left"><%= crime.nf_sex %></td>
            </tr>
            <tr>
              <td class="text-left">Robbery</td>
              <td class="text-left"><%= crime.robbery %></td>
            </tr>
            <tr>
              <td class="text-left">Aggravated Assault</td>
              <td class="text-left"><%= crime.ag_assault %></td>
            </tr>
            <tr>
              <td class="text-left">Burglary</th>
              <td class="text-left"><%= crime.burglary %></td>
            </tr>
            <tr>
              <td class="text-left">Auto Theft</td>
              <td class="text-left"><%= crime.auto_theft %></td>
            </tr>
            <tr>
              <td class="text-left last-col">Arson</td>
              <td class="text-left last-col"><%= crime.arson %></td>
            </tr>
          </tbody>
        </table>
      <% end %>
    </div>

    <div class="col-lg-4 col-md-4">
      <% @crimes.where(year: 2012).each do |crime| %>
       <table class="profile_page_table table table-striped table-responsive">
         <h3 class="text-left">2012</h3>
         <thead>
         <tr class="header-2012">
           <th class="text-left">Crime</th>
           <th class="text-left">Total</th>
         </tr>
         </thead>
         <tbody class="table-hover">
           <tr>
             <td class="text-left">Murder</td>
             <td class="text-left"><%= crime.murder %></td>
           </tr>
           <tr>
             <td class="text-left">Manslaughter</td>
             <td class="text-left"><%= crime.manslaughter %></td>
           </tr>
           <tr>
             <td class="text-left">Sex Offense - Forcible</td>
             <td class="text-left"><%= crime.f_sex %></td>
           </tr>
           <tr>
             <td class="text-left">Sex Offense - Non-forcible</th>
             <td class="text-left"><%= crime.nf_sex %></td>
           </tr>
           <tr>
             <td class="text-left">Robbery</td>
             <td class="text-left"><%= crime.robbery %></td>
           </tr>
           <tr>
             <td class="text-left">Aggravated Assault</td>
             <td class="text-left"><%= crime.ag_assault %></td>
           </tr>
           <tr>
             <td class="text-left">Burglary</th>
             <td class="text-left"><%= crime.burglary %></td>
           </tr>
           <tr>
             <td class="text-left">Auto Theft</td>
             <td class="text-left"><%= crime.auto_theft %></td>
           </tr>
           <tr>
             <td class="text-left last-col">Arson</td>
             <td class="text-left last-col"><%= crime.arson %></td>
           </tr>
         </tbody>
       </table>
      <% end %>
    </div>

    <div class="col-lg-4 col-md-4">
      <% @crimes.where(year: 2013).each do |crime| %></td>
        <table class="profile_page_table table table-striped table-responsive">
          <h3 class="text-left">2013</h3>
          <thead>
          <tr class="header-2013">
            <th class="text-left">Crime</th>
            <th class="text-left">Total</th>
          </tr>
          </thead>
          <tbody class="table-hover">
            <tr>
              <td class="text-left">Murder</td>
              <td class="text-left"><%= crime.murder %></td>
            </tr>
            <tr>
              <td class="text-left">Manslaughter</td>
              <td class="text-left"><%= crime.manslaughter %></td>
            </tr>
            <tr>
              <td class="text-left">Sex Offense - Forcible</td>
              <td class="text-left"><%= crime.f_sex %></td>
            </tr>
            <tr>
              <td class="text-left">Sex Offense - Non-forcible</th>
              <td class="text-left"><%= crime.nf_sex %></td>
            </tr>
            <tr>
              <td class="text-left">Robbery</td>
              <td class="text-left"><%= crime.robbery %></td>
            </tr>
            <tr>
              <td class="text-left">Aggravated Assault</td>
              <td class="text-left"><%= crime.ag_assault %></td>
            </tr>
            <tr>
              <td class="text-left">Burglary</th>
              <td class="text-left"><%= crime.burglary %></td>
            </tr>
            <tr>
              <td class="text-left">Auto Theft</td>
              <td class="text-left"><%= crime.auto_theft %></td>
            </tr>
            <tr>
              <td class="text-left last-col">Arson</td>
              <td class="text-left last-col"><%= crime.arson %></td>
            </tr>
          </tbody>
        </table>
      <% end %>
    </div>
  </div>
</div>

</div> <!-- End Container Div -->
<script>
  var chart = c3.generate({
      bindto: '#chart',
      data: {
        columns: [
          ['2011', <%= @crime_2011.murder %>, <%= @crime_2011.manslaughter %>, <%= @crime_2011.f_sex %>, <%= @crime_2011.nf_sex %>, <%= @crime_2011.robbery %>, <%= @crime_2011.ag_assault %>, <%= @crime_2011.burglary %>, <%= @crime_2011.auto_theft %>, <%= @crime_2011.arson %>],
          ['2012', <%= @crime_2012.murder %>, <%= @crime_2012.manslaughter %>, <%= @crime_2012.f_sex %>, <%= @crime_2012.nf_sex %>, <%= @crime_2012.robbery %>, <%= @crime_2012.ag_assault %>, <%= @crime_2012.burglary %>, <%= @crime_2012.auto_theft %>, <%= @crime_2012.arson %>],
          ['2013', <%= @crime_2013.murder %>, <%= @crime_2013.manslaughter %>, <%= @crime_2013.f_sex %>, <%= @crime_2013.nf_sex %>, <%= @crime_2013.robbery %>, <%= @crime_2013.ag_assault %>, <%= @crime_2013.burglary %>, <%= @crime_2013.auto_theft %>, <%= @crime_2013.arson %>]
        ],
        types: {
                2011: 'bar',
                2012: 'bar',
                2013: 'bar'
              },
        colors: {
                    2011: '#003058',
                    2012: '#00DDD8',
                    2013: '#517398'
                }
      },
      axis: {
              x: {
                  type: 'category',
                  categories: ['Murder', 'Manslaughter', 'Forcible Sex', 'Non-Forcible Sex', 'Robbery', 'Aggravated Assault', 'Burglary', 'Auto Theft', 'Arson'] }
            },
  });

</script>

<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
